@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
  color: #262626;
  /* color: #262626; */
  font-family: 'PT Sans', sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
}

*:focus {
  outline: 0px;
}

.childDisplay {
  visibility: hidden;
}

.parentHover:hover .childDisplay {
  visibility: visible;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.backgroundeImage {
  background-image: url("../public/images/Background.png");
}

.scrollTracker::-webkit-scrollbar {
  display: none;
}

.scrollTracker {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mainFrame {
  /* height: calc(100vh - 60px); */
  height: calc(100vh);
  /* overflow-y: hidden; */
}

.chatActions {
  /* width: calc(100vw - 400px); */
}